
div.todo {
  text-align: left;
}

  div.todo .status-box {
    display: inline-block;
    margin-right: .5em;
    cursor: pointer;
  }

    div.todo .status-box.done {
      font-weight: bolder;
    }

    div.todo button{
      margin: 0 .5em;
    }
