
<div class="container">
  <h1>登入 <small>{{authSvc.status}}</small></h1>
  
  <div *ngIf="authSvc.status === 'Authing'">Authing a</div>

  <div *ngIf="authSvc.status === 'Authed'">
    已成功登入，歡迎 {{authSvc.loginUserName}}。
  </div>

  <div class="login-panel" [ngClass]="{'d-none': authSvc.status !== 'Guest'}">
    <form #refForm="ngForm" (ngSubmit)="handleSubmit(refForm)">
      <div class="controller">
        <label>帳號*</label>
        <input name="userId" #userId="ngModel" ngModel required />
        <span [hidden]="userId.valid || !userId.touched">格式錯誤或必填！</span>
      </div>
      <div class="controller">
        <label>密碼*</label>
        <input name="mima" type="password" #mima="ngModel" ngModel required />
        <span [hidden]="mima.valid || !mima.touched">格式錯誤或必填！</span>
      </div>
      <div role="toolbar">
        <button [disabled]="refForm.invalid || f_loading">登入</button>
      </div>
    </form>
  </div>

  <div *ngIf="infoMsg" role="alert" class="info">
    {{infoMsg}}
  </div>

  <div *ngIf="errMsg" role="alert" class="error">
    {{errMsg}}
  </div>

  <pre>
Form value: {{refForm.value | json}}
Form invalid:{{refForm.invalid}} touched:{{refForm.touched}} valid:{{refForm.valid}}
Form #userId:{{userId.invalid}}-{{userId.touched}}-{{userId.valid}}:{{userId.errors | json}}
Form   #mima:{{mima.invalid}}-{{mima.touched}}-{{mima.valid}}:{{mima.errors | json}}
  </pre>

</div>
