<h1>Angular Input &amp; Binding</h1>
<h2>events up</h2>

<button (click)="handleClick($event)">點我</button>
<p>點擊訊息: {{clickInfo | json}}</p>

<div [hidden]="f_hidden">看我看我</div>

<hr />

<h2>輸入</h2>

<label>
  測試雙向輸入
  <input [(ngModel)]="fooValue" />
</label>
<p>雙向輸入值: {{fooValue}}</p>

<label>
  測試單向輸入
  <input [ngModel]="barValue" (ngModelChange)="handleBarChange($event)" />
</label>
<p>單向輸入值: {{barValue}}</p>

<label>
  設定初始值
  <input [ngModel]="bazValue" [disabled]="true" />
</label>
<p>設定初始值: {{bazValue}}</p>

<hr />

<h2>Element Reference</h2>

<div>
  <div #refMyElement>將會被改變</div>
  <input #refMyInput [ngModel]="'這是初始值'" />
</div>

<button (click)="handleSomething()">Do something</button>

<h2>表單輸入 - Template-driven Forms</h2>

<app-demo005-my-template-form></app-demo005-my-template-form>

<h2>表單輸入 - Reactive Forms</h2>

<app-demo005-my-reactive-form></app-demo005-my-reactive-form>

