/* You can add global styles to this file, and also import other style files */

* {
  font-family: "微軟正黑體", "PingFang TC", "Apple LiGothic", "Noto Sans TC", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border: solid 1px darkgray;
}

.d-none {
  display: none !important;
}

h1 {
  text-align: center;
}

p {
  padding-left: 2em;
  padding-right: 2em;
}

div[role=toolbar] {
  display: flex;
  gap: .25em;
  justify-content: center;
  padding: .5em 1em; 
}

div[role=alert].info {
  background-color: lightskyblue;
  width: 600px;
  margin: 12px auto;
  padding: 12px;
  border-radius: 8px;
}

div[role=alert].error {
  background-color: lightcoral;
  width: 600px;
  margin: 12px auto;
  padding: 12px;
  border-radius: 8px;
}
